html
    head
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(rel="stylesheet" href="/css/styles.css")

    body
        nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #2c2f30;')
            a.navbar-brand(href='/') Pokédex
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarText.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Database 
                    li.nav-item
                        a.nav-link(href='/about') About
                    li.nav-item.active
                        a.nav-link(href='admin/index') 
                            | Admin
                            span.sr-only (current)

        .jumbotron.jumbotron-fluid
                .container
                    h1.display-4 Pokédex Database Admin Page
                    //- p.lead
                    //- | This is a modified jumbotron that occupies the entire horizontal space of its parent.
                    //- img.img-fluid(src='/img/pokeball.jpg' alt='pokeball hero image')

        div.container-fluid
            h1 Pokédex Database
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            
            br

            h5 Update The Database
            p To update the Pokédex Database, please select the create button

            a.btn.btn-danger.btn-lg.btn-block(type='button' href='/admin/create') Create

            br

            table.table.table-hover.table-borderless.table-light.table-responsive-lg
                thead
                    tr
                        th(scope='col') #
                        //- th(scope='col') Image
                        th(scope='col') Pokemon
                        th(scope='col') Type
                        th(scope='col') HP
                        th(scope='col') Attack
                        th(scope='col') Defense
                        th(scope='col') Update
                        th(scope='col') Remove
                tbody
                    each pokemondb in pokemondbArray
                        tr
                            th(scope='row')= pokemondb.number
                            //- td
                            //-     img.img-thumbnail(src='img/charizard.png' alt='...')
                            td= pokemondb.name
                            td= pokemondb.type
                            td= pokemondb.hp
                            td= pokemondb.attack
                            td= pokemondb.defense
                            td 
                                a.badge.badge-dark(href='/admin/update') Edit
                            td 
                                a.badge.badge-danger(href='/admin/delete') Delete

                    //- tr
                    //-     th(scope='row') 002
                    //-     td Ivysaur
                    //-     td Grass + Poison
                    //-     td 60
                    //-     td 62
                    //-     td 63
                    //-     td 
                    //-         a.badge.badge-dark(href='#') Edit
                    //-     td 
                    //-         a.badge.badge-light(href='#') Delete
                    //- tr
                    //-     th(scope='row') 003
                    //-     td Venusaur
                    //-     td Grass + Poison
                    //-     td 80
                    //-     td 82
                    //-     td 83
                    //-     td 
                    //-         a.badge.badge-dark(href='#') Edit
                    //-     td 
                    //-         a.badge.badge-light(href='#') Delete
                    //- tr
                    //-     th(scope='row') 004
                    //-     td Charmander
                    //-     td Fire
                    //-     td 80
                    //-     td 82
                    //-     td 83
                    //-     td 
                    //-         a.badge.badge-dark(href='#') Edit
                    //-     td 
                    //-         a.badge.badge-light(href='#') Delete
                    //- tr
                    //-     th(scope='row') 005
                    //-     td Charmeleon
                    //-     td Fire
                    //-     td 80
                    //-     td 82
                    //-     td 83
                    //-     td 
                    //-         a.badge.badge-dark(href='#') Edit
                    //-     td 
                    //-         a.badge.badge-light(href='#') Delete
                    //- tr
                    //-     th(scope='row') 006
                    //-     td Charizard
                    //-     td Fire + Flying
                    //-     td 80
                    //-     td 82
                    //-     td 83
                    //-     td 
                    //-         a.badge.badge-dark(href='#') Edit
                    //-     td 
                    //-         a.badge.badge-light(href='#') Delete


        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
